*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
h1{
     text-align:center;
     color:chocolate;
}
html{
    background:linear-gradient(to bottom right,rgb(47, 0, 255) 10%,rgb(142, 135, 235),rgb(0, 217, 255)) no-repeat center center fixed;
    background-size: cover;
    
}
.circle{
    position:relative;
    background-color:darkorange;
    width:300px;
    height:300px;
    margin:auto;
    border-radius:300px;
    margin-top:10%;
    z-index:1;
    box-shadow:5px 0px 3px 10px white,0px 5px 3px 10px white,-5px 0px 3px 10px white,0px -5px 3px 10px white ;
}
[class^="hand"]{
    position:absolute;
    width:48%;
    height:6px;
    background-color:black;
    transform-origin:1%;
    margin:50%;
    transform:translate(0,-5px);
    transform:rotate(-90deg);
    transition:all 0.06sec;
}
.hand-min{
    width:40%;
}
.hand-hour{
    width:32%;
}
footer{ 
     position:absolute;
     bottom:3px;
     right:3px;
     
}



